@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
html,
body {
  padding: 0;
  margin: 0;
}

/* Base styles */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #ffffff;
  color: #111827;
}
